@import url("./dark.css");
@import url("./light.css");

.slider[type="range"] {
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: calc(.25*var(--size));
    background: transparent;
}
.slider[type="range"]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    top: 50%;
    transform: translateY(-50%);
    width: calc(.75*var(--size));
    height: 100%;
    border-radius: calc(.25*var(--size));
    cursor: pointer;
}
.slider[type=range]::-webkit-slider-runnable-track {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
}